html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#oneko {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  cursor: grab;
  user-select: none;
}
